In [ ]:
import seaborn as sns

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Import du fichier

In [ ]:
df = pd.read_csv('Dataframe_Final_Comtés_Mois.csv',index_col=0)

In [ ]:
df.head()

,Année,Etat,Mois,TMAX,TAVG,PCPN,Etat_Comté,Etendue totale des feux,Nombre de feux,Comté
0,1992,1,1,54.5,44.6,5.62,01-001,0.0,0,1
1,1993,1,1,59.3,49.7,6.08,01-001,0.0,0,1
2,1994,1,1,52.2,41.7,3.54,01-001,19.6,3,1
3,1995,1,1,57.0,46.4,4.95,01-001,2.6,4,1
4,1996,1,1,56.0,44.0,7.04,01-001,0.0,0,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 903456 entries, 0 to 903455
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Année                    903456 non-null  int64
 1   Etat                     903456 non-null  int64
 2   Mois                     903456 non-null  int64
 3   TMAX                     903456 non-null  float64
 4   TAVG                     903456 non-null  float64
 5   PCPN                     903456 non-null  float64
 6   Etat_Comté               903456 non-null  object
 7   Etendue totale des feux  903456 non-null  float64
 8   Nombre de feux           903456 non-null  int64
 9   Comté                    903456 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 75.8+ MB

In [ ]:
state_county = pd.get_dummies(df['Etat_Comté'],prefix='State_County', prefix_sep='_')

In [ ]:
state_county

,State_County_01-001,State_County_01-003,State_County_01-005,State_County_01-007,State_County_01-009,State_County_01-011,State_County_01-013,State_County_01-015,State_County_01-017,State_County_01-019,...,State_County_50-185,State_County_50-188,State_County_50-195,State_County_50-198,State_County_50-220,State_County_50-230,State_County_50-240,State_County_50-275,State_County_50-282,State_County_50-290
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
903452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
903453,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
903454,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
903455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
date = pd.get_dummies(df['Année'],prefix='Y', prefix_sep='_')

In [ ]:
date

,Y_1992,Y_1993,Y_1994,Y_1995,Y_1996,Y_1997,Y_1998,Y_1999,Y_2000,Y_2001,...,Y_2006,Y_2007,Y_2008,Y_2009,Y_2010,Y_2011,Y_2012,Y_2013,Y_2014,Y_2015
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903451,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
903452,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
903453,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
903454,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
903455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
df = df.join(date)

In [ ]:
df = df.join(state_county)

In [ ]:
df.drop(columns=['Année','Etat','Etat_Comté','Comté'],inplace=True)

In [ ]:
df.head()

,Mois,TMAX,TAVG,PCPN,Etendue totale des feux,Nombre de feux,Y_1992,Y_1993,Y_1994,Y_1995,...,State_County_50-185,State_County_50-188,State_County_50-195,State_County_50-198,State_County_50-220,State_County_50-230,State_County_50-240,State_County_50-275,State_County_50-282,State_County_50-290
0,1,54.5,44.6,5.62,0.0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,59.3,49.7,6.08,0.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,52.2,41.7,3.54,19.6,3,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,57.0,46.4,4.95,2.6,4,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,56.0,44.0,7.04,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
features = df.iloc[:,:6]
etendue = df.loc[:,'Etendue totale des feux']
nbre = df.loc[:,'Nombre de feux']

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

# RandomForestRegressor

### Nbre de feux

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(features,nbre,random_state=42,test_size=0.3)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()
regressor.fit(X_train,y_train)

RandomForestRegressor()

In [ ]:
print('score train : ',regressor.score(X_train,y_train))
print('score test : ',regressor.score(X_test,y_test))

score train :  0.9999488731420832
score test :  0.9995704411794615

In [ ]:
y_pred_test = regressor.predict(X_test)

In [ ]:
y_pred_test = pd.DataFrame(y_pred_test, columns=['predictions'])

In [ ]:
y_pred_train = regressor.predict(X_train)

In [ ]:
y_pred_train = pd.DataFrame(y_pred_train, columns=['predictions'])

In [ ]:
import sklearn.metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [ ]:
rfr_mse_test = mean_squared_error(y_test,y_pred_test)
rfr_mae_test = mean_absolute_error(y_test,y_pred_test)
print('MSE_test = ',rfr_mse_test)
print('MAE_test = ',rfr_mae_test)

rfr_mse_train = mean_squared_error(y_train,y_pred_train)
rfr_mae_train = mean_absolute_error(y_train,y_pred_train)
print('MSE_train = ',rfr_mse_train)
print('MAE_train = ',rfr_mae_train)

MSE_test =  0.006857468537505945
MAE_test =  0.0002650929577880512
MSE_train =  0.000824162145666085
MAE_train =  9.860551311709499e-05